css/* ToastUIEditor.css */
.toastui-editor-contents h2,
.toastui-editor-md-preview h2 {
    border-bottom: none !important;
    padding-bottom: 0 !important;
}

.toastui-editor-contents h1,
.toastui-editor-contents h2,
.toastui-editor-contents h3,
.toastui-editor-contents h4,
.toastui-editor-contents h5,
.toastui-editor-contents h6 {
    border-bottom: none !important;
    padding-bottom: 0 !important;
}

/* 블록쿼트 글씨 색상 검정색으로 변경 */
.toastui-editor-contents blockquote,
.toastui-editor-md-preview blockquote {
    color: #000000 !important;
}

.toastui-editor-contents blockquote p,
.toastui-editor-md-preview blockquote p {
    color: #000000 !important;
}